<template>
  <div class="bg-dark text-white text-center border-bottom border-dark">
    <h1>{{ headerName }}</h1>
    <h3>{{ headerContact }}</h3>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState(['headerName', 'headerContact']),
  },
}
</script>
