<template>
  <div>
    <a :id="`list-${list.id}`" class="nav-offset-anchor" />
    <b-navbar
      variant="secondary"
      class="border-top border-bottom border-dark px-1 py-0"
    >
      <b-nav-text class="my-0 py-0">
        <b-button
          :id="`list-toggle-${list.id}`"
          v-b-toggle="`collapse-list-${list.id}`"
          :class="`py-0 my-0 emoji ${list.showCollapse ? 'collapsed' : ''}`"
          :aria-expanded="list.showCollapse ? 'true' : 'false'"
          :aria-controls="`collapse-list-${list.id}`"
          @click="toggleCollapse"
        >
          <span class="when-opened">▼</span>
          <span class="when-closed">▶</span>
        </b-button>
      </b-nav-text>
      <b-nav-text class="h3 my-0 py-0 text-white">{{ list.name }}</b-nav-text>
      <b-navbar-nav class="ml-auto" right>
        <b-nav-text class="h3 ml-auto my-0 py-0 pr-1 text-white" right>
          sort:
        </b-nav-text>
        <slot name="sort" />
      </b-navbar-nav>
    </b-navbar>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  props: {
    list: {
      type: Object,
      required: true,
    },
  },
  methods: {
    ...mapActions(['updateListShowCollapse']),
    toggleCollapse(e) {
      const data = {
        listId: this.list.id,
        showCollapse: !this.list.showCollapse,
      }
      this.updateListShowCollapse(data)
    },
  },
}
</script>

<style>
a.nav-offset-anchor {
  display: block;
  position: relative;
  top: -40px;
  visibility: hidden;
}

.collapsed > .when-opened,
:not(.collapsed) > .when-closed {
  display: none;
}
</style>
