<template>
  <b-row class="bg-light mx-0">
    <b-col class="font-weight-bold" cols="3" md="2">
      <span>
        {{ item.name }}
      </span>
      <b-badge v-if="item.level" :id="`level-tooltip-target-${item.id}`" pill>
        {{ item.level }}
      </b-badge>
      <b-popover
        v-if="item.level"
        :target="`level-tooltip-target-${item.id}`"
        triggers="hover"
        placement="right"
        :title="`Skill Level '${item.level}'`"
      >
        <div v-html="levelText" />
      </b-popover>
    </b-col>
    <b-col cols="2">
      <div v-html="item.start" />
      <div>{{ item.end }}</div>
    </b-col>
    <b-col class="text-justify" v-html="item.htmlDesc" />
  </b-row>
</template>

<script>
import { mapState } from 'vuex'
import { allSkillLevels } from '../util/skillLevels'

export default {
  props: {
    itemId: {
      type: Number,
      required: true,
    },
  },
  computed: {
    ...mapState(['items']),
    item(state) {
      return state.items.byId[this.itemId]
    },
    levelText() {
      let text = allSkillLevels[this.item.level]
      if (!text) {
        text = 'unknown level'
      }
      return text
    },
  },
}
</script>
