<template>
  <div>
    <item-list-header :list="list">
      <template v-slot:sort>
        <b-nav-form>
          <b-form-select
            :id="`sort-select-${list.id}`"
            :value="list.sortBy"
            :options="sortByOptions"
            cols="2"
            size="sm"
            @change.native="sortBy"
          ></b-form-select>
        </b-nav-form>
      </template>
    </item-list-header>
    <b-collapse :id="`collapse-list-${list.id}`" visible>
      <div class="pb-3">
        <item-line-item
          v-for="itemId in itemIds"
          :key="itemId"
          :item-id="itemId"
        ></item-line-item>
      </div>
    </b-collapse>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import * as R from 'ramda'
import sortedItemIds from '../util/sortedItemIds'
import { isValidSkillLevel } from '../util/skillLevels'
import ItemLineItem from './ItemListLineItem'
import ItemListHeader from './ItemListHeader'

export default {
  components: {
    ItemListHeader,
    ItemLineItem,
  },
  props: {
    listId: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      sortByOptions: [
        { value: 'default', text: 'Default' },
        { value: 'alphabetical_asc', text: 'Name Asc' },
        { value: 'alphabetical_desc', text: 'Name Desc' },
        { value: 'start_asc', text: 'Start Date Asc' },
        { value: 'start_desc', text: 'Start Date Desc' },
        { value: 'end_asc', text: 'End Date Asc' },
        { value: 'end_desc', text: 'End Date Desc' },
      ],
    }
  },
  computed: {
    ...mapState([
      'lists',
      'items',
      'filteredItemIds',
      'searchText',
      'selectedSkillLevels',
    ]),
    list(state) {
      return state.lists.byId[this.listId]
    },
    itemIds(state) {
      let searchFilteredItemIds
      if (state.searchText === '') {
        searchFilteredItemIds = this.list.itemIds
      } else {
        searchFilteredItemIds = R.filter(
          (id) => R.includes(id, state.filteredItemIds),
          this.list.itemIds
        )
      }

      const searchAndLevelFilteredItemIds = R.filter((id) => {
        const itemLevel = state.items.byId[id].level || 'unspecified'
        if (!isValidSkillLevel(itemLevel)) {
          // if there's an invalid skill level, always show it
          return true
        }
        return R.includes(itemLevel, state.selectedSkillLevels)
      }, searchFilteredItemIds)

      return sortedItemIds(
        this.list.sortBy,
        state.items,
        searchAndLevelFilteredItemIds
      )
    },
  },
  methods: {
    ...mapActions(['updateListSortBy']),
    sortBy(e) {
      const data = { listId: this.list.id, sortBy: e.target.value }
      this.updateListSortBy(data)
    },
  },
}
</script>
