<!--suppress ES6ModulesDependencies -->
<template>
  <div>
    <item-list
      v-for="listId in lists.allIds"
      :key="listId"
      :list-id="listId"
    ></item-list>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import ItemList from './ItemList'

export default {
  components: {
    ItemList,
  },
  computed: {
    ...mapState(['lists']),
  },
}
</script>
