/* prevent horizontal scrolling.  See https://stackoverflow.com/a/35078427/25192 */
body {
  overflow-x: hidden !important;
}

.container {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

/* CSS resets */
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
