<template>
  <div class="layout">
    <nuxt />
  </div>
</template>

<style>
/*
TODO: is it possible to get this effect with just bootstrap styles?
b-row doesn't layout right when there's no content (search for something nonexistent)
*/
.layout {
  margin-left: -15px;
  margin-right: -15px;
}
</style>
