<template>
  <div>
    <b-alert v-if="error !== ''" show variant="danger">
      {{ error }}
    </b-alert>
    <sticky-nav />
    <header-section />
    <b-jumbotron v-if="isLoading">
      <div class="d-flex justify-content-center text-dark">
        <b-spinner label="Loading..." large role="status"></b-spinner>
      </div>
    </b-jumbotron>
    <item-lists />
  </div>
</template>

<!--suppress JSUnusedGlobalSymbols -->
<script>
import { mapActions, mapState } from 'vuex'
import HeaderSection from '../components/HeaderSection'
import ItemLists from '../components/ItemLists'
import store from '../store'
import StickyNav from '../components/nav/NavBar'

export default {
  store,
  components: {
    StickyNav,
    HeaderSection,
    ItemLists,
  },
  computed: {
    ...mapState(['error', 'isLoading']),
  },
  watch: {
    isLoading: function isLoading(_, __) {
      this.$nextTick(() => {
        const anchorId = window.location.hash.substr(1)
        const anchor = document.getElementById(anchorId)
        anchor && anchor.scrollIntoView()
      })
    },
  },
  created() {
    this.loadDataFlow({})
  },
  methods: {
    ...mapActions(['loadDataFlow']),
  },
}
</script>
