<template>
  <div>
    <b-nav-item v-b-modal.about-modal class="py-0">
      About
    </b-nav-item>
    <b-modal id="about-modal">
      <template v-slot:modal-title>
        <div v-html="aboutTitle" />
      </template>
      <div v-html="htmlAboutContent" />
    </b-modal>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState(['aboutTitle', 'htmlAboutContent']),
  },
}
</script>
