<template>
  <b-navbar class="px-1 py-0" sticky toggleable="sm" type="dark" variant="dark">
    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <nav-fuzzy-search-box />
      <nav-contents-menu />
      <nav-skill-level-checkboxes />
      <nav-reset />
      <b-navbar-nav right class="ml-auto">
        <nav-instructions-modal />
        <nav-about-modal />
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
import NavFuzzySearchBox from './NavFuzzySearchBox'
import NavInstructionsModal from './NavInstructionsModal'
import NavAboutModal from './NavAboutModal'
import NavContentsMenu from './NavContentsMenu'
import NavSkillLevelCheckboxes from './NavSkillLevelCheckboxes'
import NavReset from './NavReset'

export default {
  components: {
    NavReset,
    NavSkillLevelCheckboxes,
    NavInstructionsModal,
    NavAboutModal,
    NavContentsMenu,
    NavFuzzySearchBox,
  },
}
</script>
