<template>
  <b-navbar-nav>
    <b-nav-item-dropdown text="Contents">
      <b-dropdown-item
        v-for="list in lists"
        :id="`contents-select-${list.id}`"
        :key="list.id"
        :href="`#list-${list.id}`"
      >
        {{ list.name }}
      </b-dropdown-item>
    </b-nav-item-dropdown>
  </b-navbar-nav>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters(['lists']),
  },
}
</script>
