<template>
  <b-nav-form>
    <b-form-input
      id="search-text"
      :value="searchText"
      placeholder="search..."
      size="sm"
      @input.native="skillsSearch"
    />
  </b-nav-form>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  computed: {
    ...mapState(['searchText']),
  },
  methods: {
    ...mapActions(['updateSearchText', 'filterItemsFlow']),
    skillsSearch(e) {
      this.updateSearchText(e.target.value)
      this.filterItemsFlow(this.searchText)
    },
  },
}
</script>
