<template>
  <div>
    <b-nav-item v-b-modal.instructions-modal class="py-0">
      Instructions
    </b-nav-item>
    <b-modal id="instructions-modal">
      <template v-slot:modal-title>
        <div>
          How to use this resume
        </div>
      </template>
      <div>
        <ul>
          <li>The "Search" box live-filters all text</li>
          <li>
            The "Contents" dropdown will scroll you to the selected section
          </li>
          <li>
            The "Skill Levels" dropdown checkboxes allow filtering by skill
            levels. See the "About skill levels" tooltip for more info.
          </li>
          <li>
            Each section can be collapsed or expanded with the arrows on the
            left side.
          </li>
          <li>
            Each section is sorted by the original default order, but the "sort"
            dropdown in each section header allows the section to be
            individually sorted by name, start date, or end date
          </li>
          <li>
            The "Reset" link will reset all searching, filtering, sorting, and
            collapsing back to the defaults.
          </li>
        </ul>
      </div>
    </b-modal>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState(['aboutTitle', 'htmlAboutContent']),
  },
}
</script>
