<template>
  <b-navbar-nav type="dark" variant="dark">
    <b-nav-item id="reset-to-defaults" @click="reset">
      Reset
    </b-nav-item>
  </b-navbar-nav>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  methods: {
    ...mapActions(['resetToDefaultsFlow']),
    reset() {
      this.resetToDefaultsFlow({ root: this.$root })
      window.scrollTo(0, 0)
      location.hash = ''
    },
  },
}
</script>
