<template>
  <b-navbar-nav type="dark" variant="dark">
    <b-nav-item-dropdown id="navSkillLevel" ref="dropdown" text="Skill Levels">
      <b-dropdown-form>
        <div class="float-right px-1">
          <button
            id="navSkillLevelCheckboxesClose"
            type="button"
            class="close"
            aria-label="Close"
            @click="close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <b-form-group class="mb-0 pl-1">
          <b-form-checkbox-group
            id="navSkillLevelCheckboxes"
            v-model="selectedSkillLevelsAccessors"
            :options="options"
            name="navSkillLevelCheckboxes"
            stacked
          >
          </b-form-checkbox-group>
        </b-form-group>
        <b-badge id="level-info" pill class="ml-1">About skill levels</b-badge>
        <b-popover
          target="level-info"
          triggers="hover"
          placement="top"
          title="Skill Levels:"
        >
          <div v-html="levelInfoContent" />
        </b-popover>
      </b-dropdown-form>
    </b-nav-item-dropdown>
  </b-navbar-nav>
</template>

<script>
import * as R from 'ramda'
import { mapMutations, mapState } from 'vuex'
import { allSkillLevels, skillLevelOptions } from '../../util/skillLevels'

export default {
  data() {
    return {
      options: skillLevelOptions(),
    }
  },
  computed: {
    ...mapState(['selectedSkillLevels']),
    selectedSkillLevelsAccessors: {
      // TODO: is there a more succinct/idiomatic way to bind checkboxes to state?
      get() {
        return this.selectedSkillLevels
      },
      set(values) {
        this.updateSelectedSkillLevels(values)
      },
    },
    levelInfoContent: () => {
      return R.compose(
        R.join('\n'),
        R.map((line) => `<div class="small pb-1">${line}</div>`),
        R.map((pair) => {
          const val = `<span class="font-weight-bold">${pair[0]}:</span>`
          const text = `<span>${pair[1]}</span>`
          return `${val}: ${text}`
        }),
        R.toPairs
      )(allSkillLevels)
    },
  },
  methods: {
    ...mapMutations({
      updateSelectedSkillLevels: 'UPDATE_SELECTED_SKILL_LEVELS',
    }),
    close() {
      this.$refs.dropdown.hide(true)
    },
  },
}
</script>
